# Environment variables go here, can be read by `python-dotenv` package:
#
#   `src/script.py`
#   ----------------------------------------------------------------
#    import dotenv
#
#    project_dir = os.path.join(os.path.dirname(__file__), os.pardir)
#    dotenv_path = os.path.join(project_dir, '.env')
#    dotenv.load_dotenv(dotenv_path)
#   ----------------------------------------------------------------
#
# Base storage directory (holds data/, models/ and experiments/)
LOCAL_DIR=absolute/path/to/your/project/folder

# Folder names
DATA_FOLDER=data
MODELS_FOLDER=models

# API keys (optional: Gurobi WLS license key if not using a local license)
GUROBI_APIKEY=your_gurobi_apikey
